
/*universal*/
body{
	background-image: url("../img/triangular.png");
	width: 98%;
}

.container {
	width: 60%;
	margin: 0 auto;
}

.bio h1, h2, h3{
	font-family: 'Lora', sans-serif;
	text-transform: uppercase;
	text-transform: bold;
}

p, li{
	font-family: 'Lora', sans-serif;
}

.dropcap {
	font-size: 3.5em;
	color: rgb(123, 123, 123);
	padding-top: 5px ;
	margin: 5px 3px 5px;
	float: left; 
	text-transform: bold;
}

.created{
	font-size: .7em;
	margin-top: 3%;
	width: 98%;
	text-align: center;
}

/*******nav bar*******/

header{
	height: 60px;
	background: rgb(124, 124, 124);
	width: 100%;
	margin: auto;


	position: fixed;
	z-index: 2;
	top: 0;
}


header ul{
	float: right;
	width: 45%;
}

header ul li{
	list-style: none;
	display: inline-block;
	padding-top: 5px;
	text-align: center;
	position: relative;

}

header ul li:hover{
	transform: scale(1.11);
}

header ul li a{
	text-decoration: none;
}

header ul li a:link{
	color: #fff;
}

header ul li a:visited{
	color: #ddd;
}

.nav-item{
	float: left;
	display: inline;
	width: 70px;
	margin: 0 2%;

}

ul:last-child{
	margin-right: 3%;
}


/*******Home*******/

.title{
	height: 500px;
	width: 100%;
}

section{
	background: #fafafa;
	margin: 0 20%;
	border-radius: 2%
}

section p{
	margin-top: 0;
	padding: 2%;
	line-height: 1.6em;
}

section h1{
	margin: 90px 0 0 0;
	color: rgb(123, 123, 123);
	padding: 5% 2% 2%;
}

section h3,
section h2{
	font-size: 1em;
	padding: 0 5%;
	text-transform: capitalize;
	color: rgb(123, 123, 123);
}

section ul,
section ul a{
	list-style: none;
	text-decoration: none;
	line-height: 1.6em;
	color: #818181;
	padding-left: 2.5%;
	margin-bottom: 0;
}

section ul li a:hover{
	color: black;
}

section ul li img{
	width: 35px;
	margin-left: 3%;
}

.profile{
	width: 14em;
	border-radius: 100%;
	margin: -8% 5% 0 0;
	float: right;
}

.paragraph{
	width: 100%;
	margin: 8% 0 0 0;
	padding: 2% 0 0 0;
	border-top: 2px dashed #818181; 
}

/*******Bio*******/

.bio p{
	line-height: .5em;
	padding: 0 0 0 8%;
}

.bio li{
	margin-left: 8%;
	line-height: 1.5em;
}

.experience li{
	margin: 1% 0 0 10%;
	color: black;
	list-style: disc;
}

.experience li:nth-child(even){
	margin-left: 18%;
	font-size: .85em;
}

.skills{
	color: black;
	line-height: 2.4em;
	padding-bottom: 2%;
	list-style: disc;
	margin: 0 0 0 2%;

	overflow: auto;
	width: 100%;
}

.skills div{
	display: inline;
	border: 2px solid red;
}

aside{
	float: left;
	width: 40%;
	overflow: auto;

	/*border: 2px solid red;*/
}

.skills aside:first-child{
	margin-left: 5%;
}


/*******Contact*******/

form{
	margin: 3% auto;
	width: 300px;
	padding-bottom: 5%;
}

input{
	display: block;
	margin: 3% 0;
}

input[name="message"]{
	height: 50px;
}

input[type="text"],
input[type="email"]{
	width: 100%;
}

h3 a{
	text-decoration: none;
	color: #aaa;
	text-transform: lowercase;;
}

h3 a:hover{
	color: #818181;
}

.contact{
	margin-top: 80px
}

/*******portfolio*******/

.portfolio{
	margin-top: 80px;
}

.portfolio img{
	width: 100px;
	width: 100%;
	margin: auto 0;
}

.portfolio p{
	text-align: center;
	color: #818181;
	font-size: .75em;
}


/*******Media Querries*******/

@media screen and (max-width: 900px){

	/*******Nav*******/

	header ul{
		float: none;
		margin: 2% 28.5% 0 28.5%;
		padding: 0;
		width: 45%;
	}

	header ul div{
		margin: 0 auto;
		display: inline;
	}

	.nav-item{
		float: none;
		margin: 0 2%;
	}

	section{
		margin: 0 10%;
	}

/*******Home*******/

	.profile{
		float: none;
		margin: 0 25%;
		width: 50%;
	}

	section p{
		padding: 0 5% 2%;
	}

	section ul li img{
		margin: 0 5%;
	}

	aside{
		float: none;
		width: 70%;
		overflow: visible;
		margin-left: 5%;
	}

/*******bio*********/
	
	.bio li,
	.bio p{
		font-size: .9em;
		padding-right: 2%;
	}
	
	.bio p{
		text-align: center;
	}
}

@media screen and (max-width: 800px){

	section{
		margin-top: 20px;
	}

	header{
		height: 150px;
		position: static;
		padding-top: 1px;
	}

	header ul{
		float: none;
		margin: 2% 28.5% 0 28.5%;
		padding: 0;
		width: 45%;
		display: block;
	}

	header ul div{
		margin: 0 auto;
		display: block;
	}

	.nav-item{
		display: block;
		float: none;
		margin: 2% auto;
		border: 2px solid #818181;
		background: #eee;
		width: 100%;
	}

	header ul li a:link{
		color: #b3b3b3;
	}

	header ul li a:visited{
		color: #676767;
	}

	section h1:first-child{
		margin-top: 0;
	}

	.contact{
		margin-top: 20px;
	}

	aside{
		float: none;
		width: 70%;
		overflow: visible;
		margin-left: 5%;
	}

	section{
		margin: 5% 5%;
	}

}